<%- include('includes/head/ejs', {title: '401'}) %>
</head>
<body>
    <%- include('includes/header.ejs')%>
    <main>
        <h1>An error occured!</h1>
        <p>Something went wrong - please try again late!</p>
    </main>
</body>

</html>