<%- include('includes/head.ejs', {title: 'View & Edit Blog Post'})
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <%- include('includes/post-form') %>
    </main>
</body>

</html>