<%- include('includes/head.ejs', {title: 'welcome'})%>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <h1>Welcome to this demo!</h1>
        <p>In this demo project, you can create acounts & log in with accounts.</p>
        <p>In addition, on th <a href="/admin">admim page</a></p>, you can perform CRUD operations on the blog</p>
        <p>Please note: There are no " user-facing" views (for non-logged-in users) for those blog posts</p>
    </main>
</body>
</html>